.project-list ul {
  display: grid;
  gap: 40px;
  padding: 10px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
@media screen and (max-width: 600px){
  .project-list ul {
    gap: 15px;
  }
}
.project-list li {
  padding-top: 10px;
  margin: 5px;
}

.project-list a {
  border: solid 2px rgba(99, 156, 156, 0.438);
  background: transparent;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--lightslate);
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 2%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}
.project-list a:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3),
  0 0 25px 0 inset rgba(0, 0, 0, 0.25);
  
}

.project-list li.conjuring a:hover {
  border-color:orangered;
}


/* @media (max-width: 1000px) { */
.project-list {
  order: -1;
  perspective: 800px;
}
