@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Montserrat&display=swap");

#about {
  box-sizing: border-box;
  text-align: center;
  color: var(--lightslate);
}

.greeting {
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 12vh;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-areas: "greeting1 greeting2";
  justify-content: center;
}
span.greeting1 {
  margin-right: 8px;
}
@media screen and (max-width: 600px) {
  .greeting {
    padding-top: 5vh;
    display: grid;
    grid-template-areas:
      "greeting1"
      "greeting2";
  }
  .description {
    padding-top: 0 !important;
  }
}

.description {
  font-family: "Montserrat", sans-serif;
  padding-top: 7vh;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.description a {
  text-decoration: none;
  color: var(--lightslate);
}
.description a:hover, .description a:focus {
  text-decoration: underline;
}

.description p {
  font-size: 1rem;
}
