.contact {
  display: grid;
  grid-template-areas: "linkedin github email";
  gap: 15px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: -20px; */
  min-height: 54px;
  background: linear-gradient(
    -225deg,
    rgba(227, 253, 245, 0.87) 0%,
    rgba(255, 230, 250, 0.87) 100%
  );
  /* background-image: -webkit-linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
}

a.icon {
  display: block;
  /* margin-top: -30px; */
  /* color: var(--thememedium); */
  background-size: contain;
  height: 48px;
  width: 48px;
  /* border: transparent; */
  text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

a.icon.email {
  grid-area: email;
  font-size: 48px;
  /* color: var(--themeinverse); */
  color: rgba(0, 0, 70, 0.795);
}

.linkedin {
  grid-area: linkedin;
  font-size: 48px;
  color: #0077b5;
}

.github {
  grid-area: github;
  font-size: 48px;
  color: #333;
}
